html {
    font-family: 'Mulish', sans-serif;
}
.button-color{        background-color: #3C64B1;    }
.primary-color{    color: #373F41; }
.secondary-color{color: #000F1D;}
.light-blue{    color: #006DAE;}
.hero-section{
    background-image: url("background/bg.jpg");
    background-size: cover;
    background-position: center;
}
.herotop{
    background-image: url("background/bg5.png");
    background-size: cover;
    background-repeat: none;
}
.nav-section{
    background-image: url("background/bg2.png");
    background-size: cover;
    background-position: center;
}
.footer{
    background-image: url("background/bg3.jpg");
    background-size: cover;
}
.footerr{
    background-image: url("background/bg4.png");
    background-size: cover;
}
@media screen and (max-width: 480px) {
    .smtext{
        font-size:10px !important;
    }
}
.navitem{
    border-bottom: transparent;
    transition: border-bottom 0.3s,color 0.3s;
}
.navitem:hover,
.navitem:focus,
.navitem:active{
    color: #006DAE;
    padding-bottom: 7px;
    border-bottom: 3px solid #006DAE;
}