html {
    font-family: 'Mulish', sans-serif;
}

.button-color{    background-image: linear-gradient(90deg, #0088CC , #006DAE );}

.primary-color{    color: #172940; }
.secondary-color{    color: #4F5464; }
.third-color{    color: #68B0F4; }
.bg-blue{ background-color: #478AC9;  }
.bg-navy{ background-color: #172940; }
.bg-darknavy{ background-color: #0F2035; }
.light-blue{    color: #006DAE;}
.btn{ border: 2px solid #006DAE;}

.hero-section{
    background-image: url("background/bg.jpg");
    background-size: cover;
    background-position: center;
}


.odd{
    position: relative;
    background:url("background/bgomni.png");
    background-size: cover;
    height:auto;
    width: 100%;
    padding: 40px 0px;
}
.odd::after{
    content:'';
    position: absolute;
    background-image: url("background/Mask\ Group.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    height:100%;
    width: 100%;
    z-index: 1 !important;
}


.even{
    position: relative;
    background:url("background/bg-convert.jpg");
    background-size: cover;
    height:auto;
    width: 100%;
    padding: 40px 0px;
}

.even::after{
    content:'';
    position: absolute;
    background-image: url("background/Mask\ Group2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    height:100%;
    width: 100%;
    z-index: 1 !important;
}



.full-convert img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-play img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel {
    position: relative;
    
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 1;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}



.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #000;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative ;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #aaa;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #000;
}



#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet {
    color: #000;
}


